.header {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid #ededed;
}

.profileImage {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.authorName {
  color: #464646;
  font-size: 1.6rem;
}
