.layout {
  position: relative;
  display: grid;
  grid-template-columns:
    [padding-left-start] 2rem [padding-left-end content-start] repeat(12, 1fr)
    [content-end padding-right-start] 2rem [padding-right-end];
}
