.masonaryGrid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.gridColumn {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.gridColumn > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
