.gemmerPicture {
  justify-self: center;
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.gemmerInfo {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.flex {
  display: flex;
  column-gap: 3rem;
  align-items: center;
}

.username {
  font-weight: 600;
  font-size: 2.5rem;
}

.gemsNum,
.followersNum,
.followingNum {
  font-weight: 600;
}

.defaultImage {
  justify-self: center;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.imageContainer {
  margin: 0 auto;
}

.followers,
.following {
  cursor: pointer;
}
