:root {
  --background-color: #fff;
  --background-color-lighter-1: #ededed;

  --font-color: #262626;
  --font-color-lighter-1: #454545;
  --font-color-lighter-2: #646464;
  --font-color-lighter-3: #a2a2a2;

  --color-red: #cb1c21;
  --color-green: #1cca8a;
  --color-blue: #1c96ca;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

svg {
  display: block;
}
